<a href="https://colab.research.google.com/github/RAHUL120244/LAB-EXPELRIMENT/blob/main/LAB_EXPERIMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q.1 implimant swaping two variable without using 3rd variable.

In [ ]:
A="sachin"
B="RAHUL"
A,B=B,A
print(A)
print(B)

Q.2 Create a program to compute student marks and grade .

if Av>=90 give grade A

  80<=av<=89 grade B

  70<=Av<=79  C

  60<=Av<=69  D

In [ ]:
#--->subjects marks
marks=[86,92.5,75,88.0,91]
if marks:
  avarage=sum(marks)/len(marks)
else:
  avarage=0
print(avarage)
if 90<=avarage <=100:
   print("A GRADE")
if 80<=avarage<=89 :
   print("B GRADE")
if 70<=avarage<=79 :
   print("C grade")
if 60<=avarage<=69:
   print("D grade");

86.5
B GRADE

Q.3 write a program to calculate the area and parameter of a ractangle given length and width.

In [ ]:
length=100 #--> in meter
width=60 #--> in meter
area=length*width # in meter square
perimeter=2*(length+width) # in meter
print("area is :",area)
print("perimeter is:",perimeter)

area is : 6000
perimeter is: 320

Q.4 take inpute 2 complex number and display sum ,difference and sum.

In [ ]:
A=(2+5j)
B=(2-3j)
print("sum is:",A+B)
print("difference is :",A-B)
print("product is :",A*B)

sum is: (4+2j)
difference is : 8j
product is : (19+4j)

Q.5 write a code to convert degree selcious to farenhite.

In [ ]:
# fixed values
celsius = 25
fahrenheit = 77

# Celsius → Fahrenheit
f = (celsius * 9/5) + 32
print(celsius, "°C =", f, "°F")

# Fahrenheit → Celsius
c = (fahrenheit - 32) * 5/9
print(fahrenheit, "°F =", c, "°C")

25 °C = 77.0 °F
77 °F = 25.0 °C

Q.6 6. In an ac circuit the total impedence z of a series RLC circuit is given by z=R+j(wL-1/wC).
Your task is two comput:
 (i) Calculte impedence in terms of complex number.
 (ii) magnitude of impedence.

In [ ]:
import math
import cmath
R=100
L=0.5
C=100e-6
f=50
w=2*math.pi*f
Z=R+(w*L-(1/w*C))*1j
print("impedence is",Z)
print("magnitute is:",abs(Z))

impedence is (100+157.0796323611798j)
magnitute is: 186.20958864334403

LAB:2 --->

Q.1 Create a puthon program that implement the conditional statement to check the following:--

1: if the user is below 18 ,print you are minor.

2: if the user is between 18 and 65,print you are adult.

3:1: if the user is above 65 ,print you are senior.

In [ ]:
age=[15,19,70]
for i in age :
  if i<=18:
    print("you are minor")
  if 18<i<65:
    print("you are adult")
  if i>=65:
    print("you are senior")

you are minor
you are adult
you are senior

Q.2 write a python program that generate multiplication of 1 to 12 .Use the nested loop to display the table.

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
for i in numbers:
  for j in range(1,11):
    print("i*j",i*j)

i*j 1
i*j 2
i*j 3
i*j 4
i*j 5
i*j 6
i*j 7
i*j 8
i*j 9
i*j 10
i*j 2
i*j 4
i*j 6
i*j 8
i*j 10
i*j 12
i*j 14
i*j 16
i*j 18
i*j 20
i*j 3
i*j 6
i*j 9
i*j 12
i*j 15
i*j 18
i*j 21
i*j 24
i*j 27
i*j 30
i*j 4
i*j 8
i*j 12
i*j 16
i*j 20
i*j 24
i*j 28
i*j 32
i*j 36
i*j 40
i*j 5
i*j 10
i*j 15
i*j 20
i*j 25
i*j 30
i*j 35
i*j 40
i*j 45
i*j 50
i*j 6
i*j 12
i*j 18
i*j 24
i*j 30
i*j 36
i*j 42
i*j 48
i*j 54
i*j 60
i*j 7
i*j 14
i*j 21
i*j 28
i*j 35
i*j 42
i*j 49
i*j 56
i*j 63
i*j 70
i*j 8
i*j 16
i*j 24
i*j 32
i*j 40
i*j 48
i*j 56
i*j 64
i*j 72
i*j 80
i*j 9
i*j 18
i*j 27
i*j 36
i*j 45
i*j 54
i*j 63
i*j 72
i*j 81
i*j 90
i*j 10
i*j 20
i*j 30
i*j 40
i*j 50
i*j 60
i*j 70
i*j 80
i*j 90
i*j 100
i*j 11
i*j 22
i*j 33
i*j 44
i*j 55
i*j 66
i*j 77
i*j 88
i*j 99
i*j 110
i*j 12
i*j 24
i*j 36
i*j 48
i*j 60
i*j 72
i*j 84
i*j 96
i*j 108
i*j 120

Q3. W.A.P to validate the password :-->

1:min 8 character.

2:atleast one upper case.

3.atleast one lower case.

4.atleat one special character.